@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,500;0,700;0,800;1,300&display=swap');

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body{
  font-family: 'Muli', Arial, Helvetica, sans-serif;
  padding-bottom: 150px;
  color: #192736;
 }

 .text-dark{
   color: #192736 !important;
 }

.container{
  padding-bottom: 100px;
}

.text-green{
  color: #4CC88A;
}

.bg-purple{
  background-color: #7059DB;
}

.title-text{
  font-size: 24px;
}

.sm-title-text{
  font-size: 16px;
}

.xs-title-text{
  font-size: 13px;
}

 .plus{
   color: #4CC88A;

 }
 
 .minus{
   color: #EA4E49;
 }

 .text-purple{
  color: #7059DB;
}

.bg-purple{
  color: #7059DB;
}

.text-yellow{
  color: #FFCE00;
}

.btn-outline-purple{
  border: 2px solid #7059DB;
  border-radius: 5px;
  color: #7059DB;
  font-weight: 700;
}

.btn-outline-purple:hover{
  background-color: #7059DB;
  color: #fff;
}

.lg-text{
  font-size: 40px;
}

 #menu-add-run-button{
   bottom: 42px;
   left: 50%;
   transform: translate(-50%);
 }

 .footer{
   height: 75px;
 }

 #run-log{
   height: 50vh; 
   min-width: 400px;
   overflow-y: auto;
 }